/*.user
/obj
/.vs
/build
/installer/*.msi
/installer/*.wixpdb
/installer/bin
/installer/obj
/img/camera24.png
/img/live-photo.png
/img/photo24.png
/img/settings18.png
/img/warning24.png
/IO.Files.Camera/obj
/IO.Files.Camera/Tests/bin
/IO.Files.Camera/Tests/obj
/IO.Files.Camera/Types/obj
/Logic/*.user
/Logic/obj
/Logic/Types/obj
/packages
/Settings/obj
/Settings/Tests/bin
/Settings/Tests/obj
/Settings/Types/obj
/TestResults
/Types/obj
/UI/img/camera24.png
/UI/img/live-photo.png
/UI/img/photo24.png
/UI/img/warning24.png
/UI/obj
