obj
/.vs
/build
/installer/*.msi
/installer/*.wixpdb
/installer/bin
/img/camera24.png
/img/live-photo.png
/img/photo24.png
/img/settings18.png
/img/warning24.png
/TestResults
/UI/img/camera24.png
/UI/img/live-photo.png
/UI/img/photo24.png
/UI/img/warning24.png
*.csproj.user
